<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{contact.name}}">

  <ion-content class="padding">
  <div ng-hide='editing'>
  	<div class="list card">
  		<div class="item item-body">
        <p>email: <a ng-href="{{currentContact.email}}">{{contact.email}}</a></p>
        <p>phone: {{contact.phone}}</p>
        <p>url: <a ng-href="{{contact.url}}">{{contact.url}}</a></p>
        <p>Notes:</p>
        <p class="well well-lg">{{contact.notes}}</p>
  


          <button class="btn btn-default" ng-click="editing=true">
            <span class="glyphicon glyphicon-pencil"></span><span> - Edit</span>
          </button>
       

        <a href="#/tab/contacts"><button class="btn btn-default" ng-click="remove(contact)">
          <span class="glyphicon glyphicon-remove"></span><span> - Remove</span>
        </button></a>
    </div>
 </div>
 </div>
<div ng-show="editing">
 <div class="list card">
      <div class="item item-divider">Edit Contact Information</div>
      <div class="item item-body">
              <div class="list-group-item">
<div class="form-group">
  
            <p><label for="name">name: </label> <input id="name" class="form-control" type="text" ng-model="contact.name"> </p>
            <p><label for="email">email:</label> <input id="email" class="form-control" type="text" ng-model="contact.email"> </p>
            <p><label for="phone">phone:</label> <input id="phone" class="form-control" type="text" ng-model="contact.phone"> </p>
            <p><label for="address">Address:</label> <input id="address" class="form-control" type="text" ng-model="contact.address"> </p>
            
          </div>

<button class="btn btn-default" ng-click="editing=false">
            <span class="glyphicon glyphicon-pencil"></span><span> - Save Changes</span>
          </button>

</div>
</div>
</div>
</div>

  </ion-content>
</ion-view>
