<ion-view view-title="Add to Contact List">
  <ion-content class="padding">

    <div class="list card">
      <div class="item item-divider">New Contact Form</div>
      <div class="item item-body">
              <div class="list-group-item">
                <form name="contactForm">
          <div class="form-group" >
  
            <p><label for="name">Name: </label> <input id="name" class="form-control" type="text" ng-model="newContact.name"> </p>
            <p><label for="email">Email:</label> <input id="email" class="form-control" type="text" ng-model="newContact.email"> </p>
            <p><label for="phone">Phone:</label> <input id="phone" class="form-control" type="text" ng-model="newContact.phone"> </p>
            <p><label for="address">Address:</label> <input id="address" class="form-control" type="text" ng-model="newContact.address"> </p>
            
          </div>
        
          <a ng-click="addContact()">
            <button class="btn btn-default">
             <span class="glyphicon glyphicon-ok"></span>
             <span> Add</span>
            </button>
          </a>

          <a href="#/" ng-click="resetForm()">
            <button class="btn btn-default">
              <span class="glyphicon glyphicon-remove"></span><span>  Cancel</span>
            </button>
          </a>
          </form>
        </div>
      </div>
    </div>
 
  </ion-content>
</ion-view>
