<!--
This page renders the contact information of one individual from the Contact List. A default blank profile image is used for now that can later be replaced by a link that contains an actual image. The profile information can be edited by modifying information $scope.contact in real time. The profile can also be removed. Associated controler is: ContactDetailCtrl  
-->
<ion-view view-title="{{contact.name}}">

  <ion-content class="padding">
  <div ng-hide='editing'>
  	<div class="list card">
  		<div class="item item-body">
  			<img src="{{contact.url}}" class="headshot" />

  			 <p align="center"><b>email</b>
				<br>{{contact.email}}
			</p>
       
	       <p align="center"><b>Phone number</b>
	       	<br>{{contact.phone}}
	       </p>

	         <p align="center"><b>Address</b>
	         		<br>{{contact.address}}
	         </p>

          <center><button class="btn btn-default" ng-click="editing=true">
            <span class="glyphicon glyphicon-pencil"></span><span> - Edit</span>
          </button>
       

        <a href="#/tab/contacts"><button class="btn btn-danger" ng-click="remove(contact)">
          <span class="glyphicon glyphicon-trash"></span><span> - Remove</span>
        </button></a>
        </center>
    </div>
 </div>
 </div>
<div ng-show="editing">
 <div class="list card">
      <div class="item item-divider">Edit Contact Information</div>
      <div class="item item-body">
              <div class="list-group-item">
<div class="form-group">
  
            <p><label for="name">name: </label> <input id="name" class="form-control" type="text" ng-model="contact.name"> </p>
            <p><label for="email">email:</label> <input id="email" class="form-control" type="text" ng-model="contact.email"> </p>
            <p><label for="phone">phone:</label> <input id="phone" class="form-control" type="text" ng-model="contact.phone"> </p>
            <p><label for="address">Address:</label> <input id="address" class="form-control" type="text" ng-model="contact.address"> </p>
            
          </div>

<button class="btn btn-success" ng-click="editing=false">
            <span class="glyphicon glyphicon-ok"></span><span> - Save Changes</span>
          </button>

</div>
</div>
</div>
</div>

  </ion-content>
</ion-view>
