<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out. Associated controler is: TabCtrl (also the parent controller)
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Contacts Tab -->
  <ion-tab title="Contacts" icon-off="ion-ios7-people-outline" icon-on="ion-ios7-people" href="#/tab/contacts">
    <ion-nav-view name="tab-contacts"></ion-nav-view>
  </ion-tab>

  <!-- Adduser Tab -->
  <ion-tab title="Add" icon-off="ion-ios7-personadd-outline" icon-on="ion-ios7-personadd" href="#/tab/adduser">
    <ion-nav-view name="tab-adduser"></ion-nav-view>
  </ion-tab>

</ion-tabs>
